@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: 'IBM Plex Mono', monospace;

    --color-habit-orange: #FB6334;
}

.habit-bg {
  background-size: 70px 70px;
  background-image: linear-gradient(90deg, #80808033 1px, #0000 0), linear-gradient(#80808033 1px, #0000 0);
  background-color: #FFEDD6;
}

.habit-btn {
  font-weight: 700;
  cursor: pointer;
}

.habit-shadow {
  border: 2px solid #000;
  box-shadow: 2px 2px 0 #000;
}

.habit-shadow-lg {
  border: 3px solid #000;
  box-shadow: 3px 3px 0 #000;
  transition: .3s ease;
}

.habit-shadow-lg:hover {
  box-shadow: 0 0 0 #000;
}

.slider-track {
  animation: scroll 30s linear infinite;
  width: max-content;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.faq [open]{
  span {
    transform: rotate(45deg);
  }
}
