@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: 'IBM Plex Mono', monospace;

    --color-habit-orange: #FB6334;
}

.habit-btn {
  font-weight: 700;
  cursor: pointer;
}

.habit-shadow {
  border: 2px solid #000;
  box-shadow: 2px 2px 0px #000;
}

.habit-shadow-lg {
  border: 3px solid #000;
  box-shadow: 3px 3px 0px #000;
  transition: .3s ease;
}

.habit-shadow-lg:hover {
  box-shadow: 0px 0px 0px #000;
}
